body
{
    background-image: url("01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.subject{
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 3%;
    text-align: center;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

.Quote{
    background-color: lightgrey;
    width: 300px;
    height: 100px;
    padding: 50px;
    text-align: center;
    position:fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    opacity: 0.5;
}
h3{
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13px;
    margin-top: 50px;
}

